@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@400;500;600');

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2%;

}

main {
  color: #ffffff;
  text-align: center;

  font-family: sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
}

.button__primary {
  background-color: #1fcca4;
}

.button__secondary {
  background-color: #0197f6;
}

.button__primary:hover {
  background-color: #1cbb96;
}

.button__secondary:hover {
  background-color: #0090e9;
}
