body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

main {
  max-width: 75vmin;
  margin: auto;
  max-height: 80vmin;
  height: 70%;
}

.game__board {
  display: flex;
  flex-direction: column;
  height: 75vmin;
  border: 2px solid black;
}

.cell {
  border: 2px solid black;
  padding: 0;
  opacity: 0.6;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.control__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__button {
  height: 24px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  margin: 0.2rem;
}

.control__button--group {
  display: flex;
}

.cell:hover,
.cell:focus {
  opacity: 0.3;
}

.current__player {
  display: flex;
}

.player {
  margin-left: 5px;
}

.board__field--circle {
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.board__field--cross {
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.cell:disabled {
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.board__field--circle,
.board__field--cross {
  animation: pulse 0.15s;
}
